<h2>
  Reservas Realizadas
</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <td><h2>Id</h2></td>
            <td><h2>Id Vuelo</h2></td>
            <td><h2>Tipo de Identificacion</h2></td>
            <td><h2>Numero de Identificacion</h2></td>
            <td><h2>Nombres</h2></td>
            <td><h2>Apellidos</h2></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reserva of listaReservas">
            <td>{{reserva.id}}</td>
            <td>{{reserva.idVuelo}}</td>
            <td>{{reserva.tipoIdentificacion}}</td>
            <td>{{reserva.nroIdentificacion}}</td>
            <td>{{reserva.nombres}}</td>
            <td>{{reserva.apellidos}}</td>
        </tr>
    </tbody>
</table>  