<h2>
  Vuelos Disponibles
</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <td><h2>Id</h2></td>
            <td><h2>Numero de Vuelo</h2></td>
            <td><h2>Ciudad Origen</h2></td>
            <td><h2>Ciudad Destino</h2></td>
            <td><h2>Fecha</h2></td>
            <td><h2>Hora de Salida</h2></td>
            <td><h2>Hora de Llegada</h2></td>
            <td><h2>Sillas Disponibles</h2></td>
            <td><h2>Valor</h2></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vuelo of listaVuelos">
            <td>{{vuelo.id}}</td>
            <td>{{vuelo.nroVuelo}}</td>
            <td>{{vuelo.idOrigen.nombre}} ({{vuelo.idOrigen.idPais.nombre}})</td>
            <td>{{vuelo.idDestino.nombre}} ({{vuelo.idDestino.idPais.nombre}})</td>
            <td>{{vuelo.fecha}}</td>
            <td>{{vuelo.horaSalida}}</td>
            <td>{{vuelo.horaLlegada}}</td>
            <td>{{vuelo.sillasDisponibles}}</td>
            <td>{{vuelo.valor}}</td>
        </tr>
    </tbody>
</table>  

  

