<h2>
  Realizar Reeserva
</h2>


  <h2>Id de Vuelo</h2><input id="idVuelo" type="number" class="validate" [(ngModel)]="idVuelo" name="idVuelo">
  <h2>Tipo de Identificacion</h2><input id="tpIdent" type="text" class="validate" [(ngModel)]="tpIdent" name="tpIdent">
  <h2>Numero de Identificacion</h2><input id="nroIdent" type="text" class="validate" [(ngModel)]="nroIdent" name="nroIdent">
  <h2>Nombres</h2><input id="nombres" type="text" class="validate" [(ngModel)]="nombres" name="nombres">
  <h2>Apellidos</h2><input id="apellidos" type="text" class="validate" [(ngModel)]="apellidos" name="apellidos">
  <br/>
  <button type="submit" class = "btn" (click)="saveReserva()">Reservar</button>
  <td>{{ response }}</td>


