<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido a {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="http://se-turismo.com/files/2013/08/mitos-de-viajar-en-avion.jpg">
</div>
<h2>Menu</h2>
<ul>
  <li>
    <h2><a routerLink='vuelo'>Consultar Vuelos</a></h2>
  </li>
    <li>
      <h2><a routerLink='reserva'>Realizar Reserva</a></h2>
    </li>
    <li>
      <h2><a routerLink='consultaReserva'>Consultar Reservas</a></h2>
    </li>
</ul>

<div class="container">
	<router-outlet></router-outlet>
</div>

